.numOfPlayers {
  display: flex;

  gap: 20px;
}

input {
  background-color: lightgray;
  text-align: center;
}

.buttonText {
  font-weight: bold;
}

.btn {
  font-weight: bold;
}

#NoRootDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  /* border: 2px solid red; */
  /* height: 100%; */
  /* position: absolute;
  top: 50%; */
}
.ancho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
  width: 100%;
}
.divInputs {
  display: flex;

  justify-content: space-around;

  gap: 5%;
  /* border: 2px solid red; */
  width: 100%;
}

.labelsDiv {
  display: flex;
  justify-content: center;
  gap: 5%;
  /* border: 2px solid green; */
  width: 100%;
}

.label {
  /* border: 1px solid yellow; */
  width: 50%;
}

.generateButton {
  padding-bottom: 0.8%;
  padding-top: 0.8%;
  padding-right: 0.8%;
  padding-left: 1%;
  margin-top: 5%;
}

.subheader {
  display: flex;
  width: 90%;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;

  /* border: 1px solid pink; */
  height: 100%;
}

.labelNPlayer {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
  /* position: absolute;
  top: 40%; */
}

.MatchRow {
  display: flex;
  width: 100%;
  /* border: 2px solid green; */
  justify-content: center;
  /* border: 12px solid green; */
  /* margin-bottom: 0%; */
}

.playersTeam {
  display: flex;
  border: 2px solid white;
  width: fit-content;
  margin-bottom: 5%;
  padding-left: 3.5%;
  padding-right: 5%;
  margin-right: 1%;
  margin-left: 5%;
  gap: 30%;
  width: 50%;
  justify-content: center;
}

.versus {
  margin-left: 10%;
  margin-right: 10%;
  /* border: 2px solid red; */
}

.player {
  /* margin-right: ; */
  /* margin: 15% 15% 15% 15%; */
  /* gap: 10px; */
}

.matchesDiv {
  /* border: 2px solid purple; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

.inputResultDiv input {
  width: 40%;
}

.submitMatchButton {
  padding-bottom: 0.8%;
  padding-top: 0.8%;
  padding-right: 0.8%;
  padding-left: 1%;
  margin-top: 1%;
}

.playerRanking {
  display: flex;
  justify-content: flex-start;
  /* width: 100%; */
  /* border: 2px solid red; */
  justify-content: space-between;
  padding-right: 20%;
  padding-left: 15%;
}

.playerRanking p {
  margin-right: 10px;
  /* border: 2px solid green; */
}
.playerRankingDiv {
  display: flex;
  /* border: 2px solid orange; */
}

.MatchRow2 {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 50%;
  height: 100%;
  /* border: 2px solid green; */
  justify-content: center;
  /* border: 12px solid green; */
  /* margin-bottom: 0%; */
}

.playerRanking2 {
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  /* border: 2px solid blue; */
}

.playerRanking2 p {
  margin-right: 10px;
  /* border: 2px solid green; */
}
.playerRankingDiv2 {
  display: flex;
  /* border: 2px solid orange; */
}

.slider {
  width: 20%;
  /* margin-bottom: 3%; */
}

.playersFromDatabase {
  background-color: white;
  color: #282c34;
}
.inputNameAndPlayersplayersFromDatabase {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

#country-list * {
  background-color: white;
  border: 2px solid red;
}

option {
  background-color: white;
  border: 2px solid red;
}

#country {
  background-color: white;
  border: 2px solid red;
}

datalist option {
  background-color: white;
  border: 2px solid red;
}
