.App {
  text-align: center;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  /* border: 2px solid yellow; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;

  height: 100%;
}
